*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
    z-index: 10;
    color: white;
    padding:0 10%;
    background-color: #433E53;
    animation: fadein 1s 2s forwards;
    opacity: 0;
}
.hamburger{
    display: flex;
    flex-direction: column;
   
}
.hamburger-navbar{
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color:#B2B2B2;
    z-index: 15;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    justify-content: space-around;
    padding: 10%;
    transition: all ease-in-out 0.5s;
}
.navbar-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.icons{
    width: 6rem;
    display: flex;
    justify-content: space-between;
}

main{
    width: 100vw;
    height: 400vh;
    position: relative;
    display:grid;
    grid-template-rows: 1fr 1fr 1.7fr 1fr;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #433E53;
    color: rgb(255,255,255,0.6);

}
.logo svg{
    width: 20vw;
    min-width: 150px;
    height: 50vh;
}
#right{
    animation: rotate 1s forwards;
    transform-origin: 100% 0%;
}
#left{
    opacity: 0;
    animation: rotate 1s forwards, fadein 1s forwards;
}
.name{
    animation: fadein 1s 1s forwards;
    transform: translateY(-3rem);
    opacity: 0;
}
.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #433E53;
    color: white;
}
.about-me div{
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 60vh;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: #433E53;
    color: rgb(255,255,255,0.6);
    padding: 15px;
    border-color:rgb(255,255,255,0.6); ;
    border-radius: 1rem;
}
.projects{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    background-color: #B2B2B2;
}
.projects h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow{
    background-color: none;
    margin: 0% 10%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr;
    gap: 10px;
    position: relative;
    height: 100%;
    transition: ease 1s;
}
article{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    cursor: pointer; 
}
article:hover{
    border:  #433E53 3px solid;
}

.articleimage{
    width: 50%;
    height: 50%;
    object-fit: contain;
}
.skills{
    display: grid;
    grid-template-rows: 0fr 1fr 4fr 1fr;
    background-color: #433E53;
    color: rgb(255,255,255,0.6);
}
.skill-icons{
    padding: 5% 20%;
}
.skill-icons div{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width :100%;
}
.skills h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}
footer h3{
    color: white;
}
.contact-icons{
    display: flex;
    width: 150px;
    justify-content: space-around;
}
.list-of-skills{
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    padding: 0% 10%;
}
.list-of-skills div{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}
.fas,.fab,.far{
    color: #B2B2B2;
    cursor: pointer;
}
.fas:hover,.fab:hover,.far:hover{
    color: white;
}
#close-btn{
    color: white;
}
#close-btn:hover{
    color: black;
}
@keyframes rotate{
    from{
        transform: rotateZ(-45deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 700px) {
    .slideshow{
        background-color: none;
        margin: 0% 10%;
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        gap: 10px;
        position: relative;
        height: 100%;
    }
    #extra{
        display: none;
    }
    .articleimage{
        display: none;
    }
    article div button{
        display: none;
    }
  }